.dashboard {
    min-width: 350px;
    .dashboard-head {
        border: 1px solid;
        .lead-logo-container {
            width: 150px;
            height: 35px;
            border: 1px solid;
            margin: 5px;
            line-height: 2;
        }
        .profile-info-container {
            float: right;
            margin: 5px;
            line-height: 2;
            .profile-name-info {
                margin-left: 15px;
            }
        }
    }
    .dashboard-body {
        border: 1px solid black;
        border-top: none;
    }   
}