.dashboard-main-holder {
    width: 420px;
    height: 460px;
    overflow: unset;
    .envelope-holder {
        text-align: center;
        padding-bottom: 10px;
    }
    .account-board {
        border: 1px solid #636363;
        background-color: #eeeeee;
        padding-bottom: 1em;
        .account-header {
            font-size: 1.4rem;
        }
        .account-form {
            width: 70%;
            margin: auto;
            .submit-button-container {
                .btn {
                    width: 150px;
                    border: 1px solid #636363;
                    padding: 3px 3px;
                }
            }
        }
        .forgot-or-claim-account {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
        .common-header-footer-margin {
            margin: 20px 20px;
        }
    }
}
