<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include layout/head %>
  </head>
  <body>
    <% include layout/header %>
    <div id="app"></div>
    <% include layout/footer %>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
