</div>
<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/toastr/toastr.js"></script>
<script type="text/javascript">
    function openOverlay(olEl) {
        document.getElementById(olEl).style.width = "100%";
    }

    function closeOverlay(olEl) {
        document.getElementById(olEl).style.width = "0%";
    }
</script>
